# Build outputs
publish/
**/bin/
**/obj/
*.zip

# Logs
*-logs/
*-logs.zip
LogFiles/
deployments/

# Secrets
grant-body.json
*.pfx
*.key

# Node
node_modules/
dist/
.parcel-cache/

# IDE
.vs/
.vscode/
*.user
*.suo

# Azure
.azure/

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.log
*.json
*.xml
*.dat
*.wbt
*.msi
.ses
*.TMP
*.LOG
*.aamdownload
